In [1]:
import pandas as pd

In [2]:
a = pd.DataFrame({
    "A":[1,2,3],
    "B":["a","b","c"],
    "D":["E","F","G"],
    "C":[4,5,6]
})
a

   A  B  C  D
0  1  a  4  E
1  2  b  5  F
2  3  c  6  G

In [3]:
b = a[["A","B"]]
b

   A  B
0  1  a
1  2  b
2  3  c

In [4]:
a.loc[0,"A"]=4
a

   A  B  C  D
0  4  a  4  E
1  2  b  5  F
2  3  c  6  G

In [5]:
b

   A  B
0  1  a
1  2  b
2  3  c

In [6]:
t = a.set_index(["A","B","D"])[['C']].unstack(level=-1)

In [7]:
t.columns = t.columns.get_level_values(1)
t

D      E    F    G
A B
2 b  NaN  5.0  NaN
3 c  NaN  NaN  6.0
4 a  4.0  NaN  NaN

In [8]:
t.reset_index()
t

D      E    F    G
A B
2 b  NaN  5.0  NaN
3 c  NaN  NaN  6.0
4 a  4.0  NaN  NaN

In [12]:
dates = []
for i in b.columns:
    dates.append(i)
dates

['A', 'B']

In [13]:
a

   A  B  C  D
0  4  a  4  E
1  2  b  5  F
2  3  c  6  G

In [16]:
a[dates] = 1,2

In [17]:
a

   A  B  C  D
0  1  2  4  E
1  1  2  5  F
2  1  2  6  G

In [19]:
a["A"].values.shape

(3,)