In [1]:
import pandas as pd
import numpy as np
import datetime

In [2]:
h1 = pd.read_csv("E:/kaggle-data/holidays_handle.csv")
h2 = pd.read_csv("E:/kaggle-data/holidays_handle.csv",parse_dates=["date"])

In [4]:
h1 = h1.set_index(["date"])
h2 = h2.set_index(["date"])

In [20]:
h2.head()

            transferred
date
2015-08-24        False
2015-09-28        False
2015-10-07        False
2015-10-09        False
2015-11-02        False

In [10]:
h1.index

Index(['2015-08-24', '2015-09-28', '2015-10-07', '2015-10-09', '2015-11-02',
       '2015-11-03', '2015-11-06', '2015-11-07', '2015-11-10', '2015-11-11',
       ...
       '2017-05-11', '2017-05-25', '2017-06-22', '2017-06-24', '2017-07-02',
       '2017-07-22', '2017-08-04', '2017-08-10', '2017-08-14', '2017-08-23'],
      dtype='object', name='date', length=191)

In [16]:
h2.index

DatetimeIndex(['2015-08-24', '2015-09-28', '2015-10-07', '2015-10-09',
               '2015-11-02', '2015-11-03', '2015-11-06', '2015-11-07',
               '2015-11-10', '2015-11-11',
               ...
               '2017-05-11', '2017-05-25', '2017-06-22', '2017-06-24',
               '2017-07-02', '2017-07-22', '2017-08-04', '2017-08-10',
               '2017-08-14', '2017-08-23'],
              dtype='datetime64[ns]', name='date', length=191, freq=None)

In [21]:
h2.index[1].strftime("%Y-%m-%d")

'2015-09-28'