In [9]:
import pandas as pd
import numpy as np
df=pd.DataFrame(np.random.randn(5,3),index=list('abcde'),columns=['1','2','3'])
df.iloc[1,0]=1
df.iloc[1,1]=np.NAN
df.fillna(0)

          1         2         3
a -0.408771 -0.212608  0.067636
b  1.000000  0.000000 -1.160444
c -0.491501 -1.230478  1.008330
d -0.986690 -0.635998 -0.125819
e -0.413358 -0.171039 -0.758973