In [1]:
import pandas as pd
import numpy as np

In [2]:
train = pd.DataFrame({
    "A":["a",'a',"a","b"],
    "B":["c",'c',"d","d"],
    "C":["e",'f',"g","h"],
    "D":[5,10,15,20]
})
train

   A  B  C   D
0  a  c  e   5
1  a  c  f  10
2  a  d  g  15
3  b  d  h  20

In [3]:
u_A = train.A.unique()
u_B = train.B.unique()
u_C = train.C.unique()
train.set_index(["A", "B", "C"], inplace=True)
train

        D
A B C
a c e   5
    f  10
  d g  15
b d h  20

In [4]:
pd.MultiIndex.from_product(
        (u_A, u_B, u_C),
        names=["A", "B", "C"]
    )

MultiIndex(levels=[['a', 'b'], ['c', 'd'], ['e', 'f', 'g', 'h']],
           labels=[[0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1], [0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1], [0, 1, 2, 3, 0, 1, 2, 3, 0, 1, 2, 3, 0, 1, 2, 3]],
           names=['A', 'B', 'C'])

In [5]:
train = train.reindex(
    pd.MultiIndex.from_product(
         (u_A, u_B, u_C),
        names=["A", "B", "C"]
    )
)
train

          D
A B C
a c e   5.0
    f  10.0
    g   NaN
    h   NaN
  d e   NaN
    f   NaN
    g  15.0
    h   NaN
b c e   NaN
    f   NaN
    g   NaN
    h   NaN
  d e   NaN
    f   NaN
    g   NaN
    h  20.0

In [6]:
test = pd.DataFrame({
    "A":["a",'a',"a","b"],
    "B":["c",'c',"d","d"],
    "C":["e",'f',"g","h"],
    "D":[5,10,15,20]
})

In [7]:
test.shape

(4, 4)

In [12]:
test.index

RangeIndex(start=0, stop=4, step=1)