In [1]:
import numpy as np
import pandas as pd

In [2]:
a = pd.DataFrame({
    "store":[1,1,1,2,2,2,3,3,3],
    "item":["A","B","C","A","B","C","A","B","C"],
    "sales":1
})
a

  item  sales  store
0    A      1      1
1    B      1      1
2    C      1      1
3    A      1      2
4    B      1      2
5    C      1      2
6    A      1      3
7    B      1      3
8    C      1      3

In [3]:
a.set_index(['store','item'],inplace=True)

In [4]:
b = pd.DataFrame({
    "store":[1,1,2,2,3,3],
    "item":["A","B","A","C","B","C"],
    "sales_b":1
})
b

  item  sales_b  store
0    A        1      1
1    B        1      1
2    A        1      2
3    C        1      2
4    B        1      3
5    C        1      3

In [5]:
b.set_index(['store','item'],inplace=True)

In [6]:
c = a.join(b,how='left')
c

            sales  sales_b
store item
1     A         1      1.0
      B         1      1.0
      C         1      NaN
2     A         1      1.0
      B         1      NaN
      C         1      1.0
3     A         1      NaN
      B         1      1.0
      C         1      1.0

In [8]:
d = pd.DataFrame({
    "store":[1,1,1,2,2,2,3,3,3],
    "item":["A","B","C","A","B","C","A","B","C"],
    "sales":1
})
col = [i for i in d if i not in ['item']]
col

['sales', 'store']

In [1]:
print('\nRunning the regressors ...')

Running the regressors ...

In [2]:
print('Running the regressors ...')

Running the regressors ...