In [1]:
import numpy as np
import pandas as pd

In [9]:
stores = pd.read_csv("E:/kaggle-data/stores.csv")
stores['city'].value_counts()

Quito            18
Guayaquil         8
Santo Domingo     3
Cuenca            3
Ambato            2
Latacunga         2
Manta             2
Machala           2
Babahoyo          1
Libertad          1
Ibarra            1
Guaranda          1
Esmeraldas        1
Loja              1
El Carmen         1
Daule             1
Cayambe           1
Puyo              1
Quevedo           1
Riobamba          1
Playas            1
Salinas           1
Name: city, dtype: int64

In [10]:
stores['type'].value_counts()

D    18
C    15
A     9
B     8
E     4
Name: type, dtype: int64

In [11]:
stores['cluster'].value_counts()

3     7
6     6
10    6
15    5
14    4
13    4
1     3
11    3
8     3
4     3
2     2
9     2
7     2
5     1
16    1
12    1
17    1
Name: cluster, dtype: int64