In [30]:
import pandas as pd
import numpy as np
import datetime

In [31]:
h1 = pd.read_csv("E:/kaggle-data/holidays_handle.csv")
h2 = pd.read_csv("E:/kaggle-data/holidays_handle.csv",parse_dates=["date"])

In [32]:
h1.iloc[0,0]

'2015-08-24'

In [33]:
h2.iloc[0,0]

Timestamp('2015-08-24 00:00:00')

In [34]:
h1.iloc[0:3,0]

0    2015-08-24
1    2015-09-28
2    2015-10-07
Name: date, dtype: object

In [35]:
h2.iloc[0:3,0]

0   2015-08-24
1   2015-09-28
2   2015-10-07
Name: date, dtype: datetime64[ns]

In [36]:
h1['date'].dtypes

dtype('O')

In [37]:
h2['date'].dtypes

dtype('<M8[ns]')

In [38]:
h3 = pd.DataFrame({
    "date":pd.date_range("2017-01-01",periods=4),
    "price":[1,2,3,4]
})
h3['date']

0   2017-01-01
1   2017-01-02
2   2017-01-03
3   2017-01-04
Name: date, dtype: datetime64[ns]

In [47]:
h3.loc[0,'date'].strftime("%Y-%m-%d")

'2017-01-01'

In [39]:
h3.loc[0,'date']

Timestamp('2017-01-01 00:00:00')

In [40]:
h4 = pd.DataFrame({
    "date":[datetime.datetime(2017,1,1),
            datetime.datetime(2017,1,2),datetime.datetime(2017,1,3),datetime.datetime(2017,1,4)],
    "price":[1,2,3,4]
})
h4['date']

0   2017-01-01
1   2017-01-02
2   2017-01-03
3   2017-01-04
Name: date, dtype: datetime64[ns]

In [41]:
h4.loc[0,'date']

Timestamp('2017-01-01 00:00:00')

In [44]:
h1['date'] = h1['date'].apply(
        lambda x : datetime.datetime.strptime(x,"%Y-%m-%d"))
h1['date']

0     2015-08-24
1     2015-09-28
2     2015-10-07
3     2015-10-09
4     2015-11-02
5     2015-11-03
6     2015-11-06
7     2015-11-07
8     2015-11-10
9     2015-11-11
10    2015-11-12
11    2015-11-27
12    2015-11-30
13    2015-12-05
14    2015-12-06
15    2015-12-08
16    2015-12-21
17    2015-12-22
18    2015-12-22
19    2015-12-23
20    2015-12-24
21    2015-12-25
22    2015-12-26
23    2015-12-31
24    2016-01-01
25    2016-02-08
26    2016-02-09
27    2016-03-02
28    2016-03-25
29    2016-04-01
         ...
161   2016-08-23
162   2016-09-27
163   2016-10-06
164   2016-10-08
165   2016-11-01
166   2016-11-05
167   2016-11-09
168   2016-11-24
169   2016-11-27
170   2016-12-04
171   2016-12-07
172   2016-12-20
173   2016-12-30
174   2017-01-01
175   2017-02-26
176   2017-03-01
177   2017-03-31
178   2017-04-12
179   2017-04-20
180   2017-04-30
181   2017-05-11
182   2017-05-25
183   2017-06-22
184   2017-06-24
185   2017-07-02
186   2017-07-22
187   2017-08-04
188   2017-08-10
189   2017-08-14
190   2017-08-23
Name: date, Length: 191, dtype: datetime64[ns]

In [46]:
h1.loc[0,'date']

Timestamp('2015-08-24 00:00:00')